<div class="container mt-5">
    <h1 class="text-center"></h1>
    
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="card border-primary mb-4">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" formControlName="title" class="form-control" id="title" placeholder="Enter title">
                            <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger mt-2">
                                <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea row="5" formControlName="description" class="form-control" id="description" placeholder="Enter description"></textarea>
                            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger mt-2">
                                <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-block" type="submit" [disabled]="!form.valid">Submit</button>
                            </div>
                            <div class="col">
                                <a href="#" routerLink="/todo/index/" class="btn btn-warning btn-block">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

