<div class="container">
    <h1 class="text-center"></h1>
    <br>
    <br>
    <a href="#" routerLink="/todo/create/" class="btn btn-success">Add New Task</a>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <div *ngIf="!isLoading">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- <th>Id</th> -->
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th class="d-none d-md-table-cell" width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <!-- <td>{{todo._id}}</td> -->
                    <td>{{todo.title}}</td>
                    <td (click)="navigateToView(todo)" style="cursor:pointer; word-wrap: break-word;min-width: 160px;max-width: 160px;">{{todo.description}}</td>
                    <td (click)="navigateToEdit(todo)" style="cursor: pointer;">{{todo.status}}</td>
                    <td class="d-none d-md-table-cell">
                        <a href="#" class="btn btn-info" [routerLink]="['/todo/',todo._id,'view']">View</a>
                        <span style="margin-left: 1px;"></span>
                        <a href="#" class="btn btn-primary" [routerLink]="['/todo/',todo._id,'edit']">Edit</a>
                        <button class="btn btn-danger" type="button" (click)="deleteTodo(todo._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>