<div class="container">
  <h1 class="text-center mt-4 mb-5"></h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-primary mb-4">
        <div class="card-body">
          <h5 class="card-title text-primary mb-4">Update your task</h5>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
              <label for="title" class="text-danger">Title:</label>
              <input type="text" formControlName="title" [(ngModel)]="todo.title" class="form-control" id="title" placeholder="Enter Title">
              <br>
              <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger mt-2">
                <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="text-warning">Description:</label>
              <textarea row="5" formControlName="description" [(ngModel)]="todo.description" class="form-control" id="description" placeholder="Enter Description"></textarea>
              <br>
              <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger mt-2">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="text-info">Status:</label>
              <select formControlName="status" [(ngModel)]="todo.status" class="form-control" id="status">
                <option *ngFor="let statusOption of statusOptions" [ngValue]="statusOption">{{ statusOption }}</option>
              </select>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
              </div>
              <div class="col">
                <a href="#" routerLink="/todo/index/" class="btn btn-warning btn-block mt-3">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

