<div class="container">
    <h1 class="text-center mt-4 mb-5"></h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-primary mb-4">
                <div class="card-body">
                    <h5 class="card-title text-primary mb-4">Task Details</h5>
                    <div class="task-detail mb-3">
                        <strong class="text-success">Id:</strong>
                        <p class="card-text text-muted">{{todo._id}}</p>
                    </div>
                    <div class="task-detail mb-3">
                        <strong class="text-danger">Title:</strong>
                        <p class="card-text text-muted">{{todo.title}}</p>
                    </div>
                    <div class="task-detail mb-3">
                        <strong class="text-warning">Description:</strong>
                        <p class="card-text text-muted">{{todo.description}}</p>
                    </div>
                    <div class="task-detail mb-3">
                        <strong class="text-info">Status:</strong>
                        <p class="card-text text-muted">{{todo.status}}</p>
                    </div>
                    <div class="task-detail mb-3">
                        <strong class="text-primary">Updated on Date:</strong>
                        <p class="card-text text-muted">{{todo.date | date:'medium'}}</p>
                    </div>
                    <a href="#" routerLink="/todo/index/" class="btn btn-warning btn-block mt-4">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
